.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 100px;
	color: #99979c;
	text-align: center;
	background-color: #2a2730;
  }
  
  /* Comment Block */
  .comment-box {
	width: 100%;
	height: auto;
	/* background-color: yellow; */
  }
  
  /* Author Block */
  .author-box {
	float: left;
	width: auto;
	height: auto;
	/* background-color: blue; */
  
	/* Margin */
	margin-top: 10px;
  }
  
  /* Author Avatar */
  .author-box #avatar {
	clear: both;
	/* Padding */
	padding: 5px 5px;
	margin-bottom: 10px;
  
	/* Border */
	border-style: solid; /* Solid line */
	border-radius: 5px; /* Rounded corners */
	border-color: #DCDCDC; /* Color */
  }
  
  /* Author Information */
  .author-box #info {
	font-size: 18px;
  }
  
  /* Content Block */
  .content-box {
	float: right;
	width: 83%;
	height: auto;
	min-height: 250px;
	/* background-color: red; */
  
	/* Padding */
	padding: 0px 10px 0px 10px;
  
	/* Border */
	border-left: 2px solid grey;
  }
  
  /* Comment Date */
  .content-box #date {
	/* Border */
	border-bottom: 2px dashed #DCDCDC;
  
	/* Padding */
	padding: 5px 5px;
  }
  
  /* Comment Content */
  .content-box #content {
	padding-top: 10px;
  }
  